// Fonts
@import "fonts";

$body-family: "Qanelas";

@import "~bulma/sass/utilities/_all";

@import "variables";

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "bulma-fix";

@import 'layout/navbar';
@import 'layout/footer';

@import "titles";
@import "buttons";
@import "forms";
@import "transitions";
@import "animations";

@import "components/courses/courses";
@import "components/courses/course-thumbnail";
@import "components/courses/location-thumbnail";

@import "components/newsletter";
@import "components/benefits";
@import "components/difficulty-level";
@import "components/article-preview";
@import "components/about-us";
@import "components/hero";
@import "components/auth-modal";
@import "components/steps";
@import "components/questionnaire";
@import "components/searchbar";
@import "components/data-tag";
@import "components/banner";

@import "views/home";
@import "views/blog";
@import "views/our-courses";
@import "views/my-account";
@import "views/page-questionnaire";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 95%;
}