
.benefits {
  max-width: 80%;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  column-gap: 32px;

  @include from($desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.benefit {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 10px;
  column-gap: 10px;
  text-align: center;

  svg {
    min-width: 40px;
    width: 40px;
    height: auto;
  }

  &__name {

  }

  @include from($desktop) {
    justify-content: center;
    flex-direction: row;

    text-align: left;
  }
}