.newsletter {
  background-color: #8ABDAD;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  padding: 4rem 2rem;

  .section-title {
    color: $white;
    text-align: left;
    max-width: 30%;
    font-weight: bold;

    @include until($desktop) {
      max-width: 100%;
      text-align: center;
    }
  }

  .btn {
    border: 0;
    padding: 10px 20px;
  }

  .email-input {
    margin: 0 auto;
    font-size: 1.6rem;
    border-radius: 14px;
    border: 0;
    box-shadow: none;

    &::placeholder {
      color: #555;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }

    @include from($tablet) {
      min-width: 30rem;
      width: 50%;
    }
  }

  .control {
    padding: .8rem;
    background: $white;
    border-radius: 14px;
    display: flex;
    align-items: center;
  }

  .is-invalid {
    outline: $danger solid 2px;
  }

  .is-valid {
    outline: $success solid 2px;
  }

  @include until($desktop) {
    flex-direction: column;
  }


}