.newsletter {
  background-color: $lightgreen;
  border-radius: 56px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  padding: 6rem 3rem;

  &__title {
    color: $primary;
    text-align: left;
    max-width: 30%;
    font-weight: bold;
  }

  .btn {
    border: 0;
    padding: 10px 20px;
  }

  .email-input {
    margin: 0 auto;
    font-size: 1.6rem;
    border-radius: 14px;
    border: 0;
    box-shadow: none;

    &::placeholder {
      color: #555;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }

  }

  .control {
    padding: .8rem;
    background: $white;
    border-radius: 14px;
    display: flex;
    align-items: center;
  }

  .is-invalid {
    outline: $danger solid 2px;
  }

  .is-valid {
    outline: $primary solid 2px;
  }

  @include from($tablet) {
    .email-input {
      min-width: 30rem;
      width: 50%;
    }
  }

  @include until($desktop) {
    flex-direction: column;

    &__title {
      max-width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  @include from($desktop) {
    max-width: 80%;
    margin: 0 auto;
  }


}