.newsletter {
  background-color: $water;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 3rem;
  padding: 4rem 3rem;
  margin-top: 5rem;

  &__title {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .btn {
    border: 0;
    padding: 10px 20px;
  }

  .email-input {
    margin: 0 auto;
    font-size: 1.6rem;
    border-radius: 30px;
    border: 0;
    box-shadow: none;

    &::placeholder {
      color: #555;
    }

    &:focus {
      box-shadow: none;
      border: none;
    }

  }

  .control {
    padding: .8rem;
    background: $white;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .is-invalid {
    outline: $danger solid 2px;
  }

  .is-valid {
    outline: $primary solid 2px;
  }

  //@include mobile {
  //  .control {
  //    flex-direction: column;
  //    align-items: stretch;
  //    width: 100%;
  //  }
  //
  //  .email-input {
  //    text-align: center;
  //  }
  //}

  .newsletter {

  }

  &__form {
    width: 100%;
    margin: 0 auto;
  }

  @include until($tablet) {
    &__form {
      width: 95%;
    }
  }

  @include from($tablet) {
    &__form {
      width: 50%;
    }
  }

  @include until($desktop) {
    flex-direction: column;

    &__title {
      max-width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }

    .email-input {
      width: 80%;
      margin: 0;
    }
  }

  @include from($desktop) {
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;

    &__form {
      margin: 0;
      width: 100%;
    }
    .email-input {
      min-width: 30rem;
    }
  }

}