.questionnaire {
  &__question {
    min-height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem;
    text-align: center;
    font-size: 3.2rem;

    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  &__answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    min-height: 20rem;
  }

  &__answer {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $black;
    border-radius: 10px;

    transition: background .3s;
    cursor: pointer;
    text-align: center;
    font-size: 1.6rem;
    color: $black;

    &:hover {
      background: $water;
      color: $white;
      font-weight: bold;
      border-color: $water;
    }
  }

  &__progress {
    margin: 6rem auto 0;
    max-width: 80%;
  }

  &__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__icon {
      width: 9rem;
      height: 9rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-title {
      margin-top: 1rem;
      font-weight: bold;
      font-size: 3.2rem;
    }

    &-subtitle {
      font-size: 2.4rem;
      font-weight: 500;
      color: $black;
      margin: 0 0 .5rem 0;
    }

    &-text {
      margin-bottom: 3rem;
      color: $black;
    }
  }
}