.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1.6rem;
}

.b-steps .steps .step-items .step-item .step-marker {
  height: 3rem;
  width: 3rem;
}

.b-steps .steps .step-items .step-item .step-marker {
  border-width: 0.4rem;
}

.b-steps .steps {
  font-size: 1.6rem;
}