.page-questionnaire {
  &__header {
    padding: 5rem 0;
    background: $green;
    margin-bottom: 3rem;
  }

  .section-title, .section-subtitle {
    color: #FFF;
  }

  .section-title {
    text-transform: none;
    margin-bottom: 1rem;
  }

  .section-subtitle {
    max-width: 80%;
    margin: 0 auto;
  }
}