.location-thumbnail {
  position: relative;

  height: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;

  &__meta {
    justify-content: flex-end;
    z-index: 1;
    margin: 2rem 2rem 0 0;
  }

  &__rating, &__price {
    font-weight: bold;
  }

  &__rating-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem !important;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    img {
      border-radius: 8px;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    bottom: -5.5rem;
    z-index: 1;
    background: rgba($black, 0.55);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: bottom .2s;
  }

  &__location {
    font-size: 3.2rem;
    line-height: 120%;
    font-weight: bold;
    color: #FFF;
    word-break: break-word;
  }

  &__place {
    margin-top: .5rem;
    display: none;
    text-transform: uppercase;
  }

  &:hover &__place {
    display: block;
  }

  &__description {
    margin-top: 1.5rem;
  }

  &__footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 1rem;

    .btn {
      width: 100%;
      text-align: center;
    }
  }

  &__fav {
    border-radius: 14px;
    background: $primary;
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: bottom .3s;
  }

  &:hover &__content {
    background: none;
    bottom: 0;
  }

  &:hover:after {
    bottom: 0;
  }

  @include until($desktop) {
    min-height: 35rem;

    &__overlay {
      height: 70%;
    }

    &__hover &__overlay {
      top: 30%;
    }
  }
}