.btn {
    padding: 12px 50px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    &-primary {
        background: $primary;
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &-white {
        background: $white;
        color: $primary;

        &:hover {
            color: $primary;
        }
    }

    &:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

}
