@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/QanelasRegular.woff") format('woff');
}

@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 300;
    src: local('Qanelas Light'), url('/fonts/QanelasLight.woff') format('woff');
}

@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    src: local('Qanelas Bold'), url('/fonts/QanelasBold.woff') format('woff');
}

@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/QanelasMedium.woff') format('woff');
}

@font-face {
    font-family: 'Qanelas';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/QanelasRegularItalic.woff') format('woff');
}


